<h2><%= @link.hash_code %> is your code for <%= @link.link %></h2>

<h4>You can direct users to this Ritly URL: http://localhost:3000/<%= @link.hash_code %> </h4>

<h4>This Ritly URl will redirect them to <%= @link.link %></h4>




